body {
    font-family: 'Raleway', sans-serif;
    padding-top: 0px;
    margin-top: 0px;
    padding-left: 50px;
}

p2 {
    font-family: 'Roboto Mono', monospace;
}

h1 {
    size: 16px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: #9e1f16;
    font-family: 'Slabo 27px', serif;
    font-weight: bolder;
}

h2 {
    color: #9e1f16;
    font-family: 'Slabo 27px', serif;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

